<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra</title>
    <link rel="stylesheet" href="estilo_mc.css">
</head>
<body>
    <div class="comprado">
        <h2>COMPRADO</h2>
        <img src="View/imagen/libro1.png" alt="Libro comprado" class="libro-img">
        <img src="View/imagen/Mascota3.jpeg" alt="Mascota comprando" class="mascota-img">
        <button class="continuar" onclick="window.location.href='notificacion.html'">Continuar</button>
    </div>
</body>
</html>
