<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro</title>
    <link rel="stylesheet" href="estilo_mc.css">
</head>
<body>
    <div class="card">
        <img src="View/imagen/libro1.png" alt="Portada del libro">
        <div class="info">
            <h2>AL FINAL MUEREN LOS DOS</h2>
            <p><strong>Adam Silvera</strong></p>
            <p><strong>Categoría:</strong> Ficción</p>
            <p><strong>ISBN:</strong> 9877477181</p>
            <p><strong>Sinopsis:</strong></p>
            <p>Es la tercera novela de Silvera enfocada en dos chicos adolescentes, Mateo y Rufus, quienes descubren que solo tienen un día para vivir.</p>
            <p><strong>Precio:</strong> $400</p>
        </div>
        <div class="buttons">
            <button class="prestamo">Préstamo</button>
            <button class="comprar" onclick="window.location.href='ticket.html'">Comprar</button>
        </div>
    </div>
</body>
</html>
