<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket de Compra</title>
    <link rel="stylesheet" href="estilo_mc.css">
</head>
<body>
    <div class="ticket">
        <h2>Ticket <br> Compra</h2>
        <div class="icons">
            <div class="icon"><img src="View/imagen/icono_imagen.png" alt="Imagen"></div>
            <div class="icon"><img src="View/imagen/icono_usuario.png" alt="Usuario"></div>
        </div>
        <p>Lector</p>
        <div class="info-ticket">
            <h3>Biblioteca</h3>
            <p>Dirección</p>
            <p>Fecha de compra</p>
            <p>Descripción</p>
            <p>Referencia</p>
            <p>Monto</p>
        </div>
        <button class="continuar" onclick="window.location.href='comprado.html'">Continuar</button>
    </div>
</body>
</html>
