<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</Menu></title>
    <link rel="stylesheet" href="Menu.css">
</head>
<body>
    <div class="header">
        <div class="avatar">
            <img src="../imagen/mascota.png" alt="Apple" class="apple-image">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <button></button>
        </div>
    </div>

    <div class="books-grid">
        <div class="book">
            <a href="libro1.html">
                <img src="../imagen/image.png" alt="Libro" class="Libro-image">
            </a>
        </div>
        <div class="book">
            <a href="libro2.html">
                <img src="../imagen/Libro2.png" alt="Libro2">
            </a>
        </div>
        <div class="book">
            <a href="libro3.html">
                <img src="../imagen/Libro3.png" alt="Libro3">
            </a>
        </div>
        <div class="book">
            <a href="libro4.html">
                <img src="../imagen/Libro4.png" alt="Libro4">
            </a>
        </div>
        <div class="book">
            <a href="libro5.html">
                <img src="../imagen/Libro5.png" alt="Libro5">
            </a>
        </div>
        <div class="book">
            <a href="libro6.html">
                <img src="../imagen/Libro6.png" alt="Libro6">
            </a>
        </div>
    </div>
</body>
</html>