<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="Login.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Biblio-Leaf</h1>
        <p>Iniciar Sesión Bibliotecario</p>

        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="email">Correo electrónico:</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="button-group">
                    <button type="button" class="button Continuar-button" onclick="window.location.href='../View/menu/Menu.html'">Continuar</button>
                    <button type="button" class="button register-button" onclick="window.location.href='Registro.html'">Registrar</button>
                </div>
            </form>
        </div>
        <img src="../imagen/mascota.png" alt="Apple" class="apple-image">
    </div>
</body>
</html>